/* Style Sheet for BathrobeMan.Com Home Page */
body {
	background-color: rgb(245,245,250);
}

h1{
	font-family: "Helvetica", "Arial", sans-serif;
	font-size:32px;
	text-align:center;
	color:rgb(150, 150, 150);
	font-weight:200;
}

h3 {
	font-weight: 200;
	font-size: 24px;
}

p{
	font-family:"Helvetica","Arial","sans-serif";
	font-weight:200;
}

a{
	text-decoration: none;
	color: rgb(50,50,50);
}

a:hover {
	font-weight:bold;
	text-decoration: none;
}

a:active {
	color:rgb(230,230,230);
}

.centered {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-bottom: 20px;
}

label {
	padding-bottom: 10px;
}

.width-restricted {
	max-width: 400px;
}

.full-button {
	width: 100%;
	height: 40px;
	border-radius: 5px;
	background-color: rgb(126,20,20);
	color: white;
	border: 0px;
}

.full-button:hover {
	background-color: rgb(200,50,50);
}

.form-label {
	font-weight: 600;
	padding: 10px;
}

.table-page {
	padding: 20px 60px;
}

.detail-page {
	padding: 20px 40px;
}

.form-details {
	display: inline-block;
	width: 400px;
	vertical-align: top;
	padding-left: 20px;
	padding-right: 10px;
	padding-top: 20px
}

.form-details input {
	width: 75%;
}

.wine-details {
	display: inline-block;
	width: 400px;
	text-align: center;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 20px;
	padding-top: 20px
}
